In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('Dataset.csv', usecols=['InvoiceNo', 'StockCode', 'Quantity'])
df = df[df['Quantity'] > 0]
# drop duplicates
df = df.drop_duplicates()
# drop na
df = df.dropna()
# get unique StockCode
stock_codes = df['StockCode'].unique()

In [6]:
# group on InvoiceNo and make a list of StockCode
df = df.groupby('InvoiceNo')['StockCode'].apply(list).reset_index(name='StockCode')
df.head()

  InvoiceNo                                          StockCode
0    536365  [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
1    536366                                     [22633, 22632]
2    536367  [84879, 22745, 22748, 22749, 22310, 84969, 226...
3    536368                       [22960, 22913, 22912, 22914]
4    536369                                            [21756]

In [10]:
# 22748
test_code = '22748'
# get me each row that has the test code in one of the element os Stockcode
test_df = df[df['StockCode'].apply(lambda lst: test_code in lst)]

In [12]:
test_df.head()
print(test_df.shape)

(436, 2)

In [15]:
# for test df use all the columns as one list
# and count the frequency of each word in the list
# and then sort the list by frequency
# and then print the top 10 words
from itertools import chain

# Assuming df['StockCode'] is a column containing lists of strings
all_stock_codes = list(chain.from_iterable(test_df['StockCode']))

# Count the frequency of each word
word_freq = {}
for word in all_stock_codes:
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

# Sort the list by frequency
sorted_word_freq = sorted(word_freq.items(), key=lambda x: x[1], reverse=True)

# Print the top 10 words
print(sorted_word_freq[:10])

[('22748', 439), ('22745', 314), ('22746', 263), ('22747', 194), ('22423', 109), ('22086', 108), ('21790', 107), ('20725', 102), ('21212', 100), ('85123A', 97)]